langchain
huggingface_hub
huggingface
streamlit
langchain_community
google-generativeai
langchain-google-genai
PyPDF2
unstructured==0.14.3
unstructured-client==0.22.0
sentence-transformers
faiss-cpu
pyttsx3
speechrecognition
unstructured[pdf]
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

